@model MiniProjetBibliotheque.Models.Lecteur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lecteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomLecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomLecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomLecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomLecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailLecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailLecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneLecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneLecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mdp_Lecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mdp_Lecteur)
        </dd>
        <dt class="col-sm-2">
            Emprunts
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.EmpruntsLecteur)
            {
                @Html.DisplayFor(modelItem => item.DateEmprunt)

                <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LecteurId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
